ruleset <TMPL_VAR NAME="CRED_RID"> {
        meta {
                name "System Credentials"
                description <<
                  This ruleset provides system authorization
                  credentials to named rulesets

                  Keep access to this source restricted
                >>
                author "Mark Horstmeier"
                logging off
                key system_credentials {
                  'root' : '<TMPL_VAR NAME="ROOT_KEY">'
                }
                provides keys system_credentials to <TMPL_VAR NAME="BOOTSTRAP">
        }

        dispatch {
                // domain "exampley.com"
        }

        global {

        }

        rule never_fire {
                select when pageview ".*" setting ()
                pre {
                
                }
                noop;
        }
}

