<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KRE Admin</title>

  </head>

  <body>
  <h1>KRE Utilities</h1>
  <p>Bootstrap ruleset status is <span id="bootstatus" style="font-weight:bold;" >fail</span></p>
  <div id="content"/>
    <!-- Kynetx Sitetag, load and run -->
        <script>KOBJ_config= {'init':{'eval_host':'127.0.0.1','callback_host':'127.0.0.1','init_host':'127.0.0.1'},"<TMPL_VAR NAME="BOOTSTRAP">:kynetx_app_version":"prod","rids":["<TMPL_VAR NAME="BOOTSTRAP">"]};</script> 
        <script src="http://127.0.0.1/js/shared/kobj-static.js"></script>

  </body>
</html>


